.prg1{
    background-color: aqua;
    color:black; font-family: 'Times New Roman';
     text-align: center;
     
}

.prg2{
    text-align:justify;
    text-align: center;
    font-size: 20px;

}

.prg3{
    text-align: justify;
    text-align: center;
    font-size:20px

}

.prg4{
    background-color: aqua;
    text-align: center;
    font-style: initial;
    font-family:'Times New Roman';
